global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  # Scrape Prometheus itself
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  # Scrape node-exporter
  - job_name: "node"
    static_configs:
      - targets: ["node-exporter:9100"]

  # Scrape cAdvisor (if enabled)
  # - job_name: "cadvisor"
  #   static_configs:
  #     - targets: ["cadvisor:8080"]