name: Publish Assets

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  publish-assets:
    name: Publish Assets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build release binary
        run: cargo build --release --verbose

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/grafatui
          generate_release_notes: false
